*{

box-sizing:border-box;

}



body{


margin:0;


height:100vh;


display:flex;


justify-content:center;


align-items:center;


background:#f1f1f1;


font-family:"Microsoft YaHei";


}



.box,.card{


width:360px;


background:white;


padding:30px;


border-radius:20px;


text-align:center;


box-shadow:
0 10px 30px #ccc;


}




input,textarea{


width:90%;


padding:12px;


margin:8px;


border-radius:10px;


border:1px solid #ddd;


}



textarea{


height:100px;


}



button{


padding:12px 25px;


border:none;


background:#1677ff;


color:white;


border-radius:10px;


cursor:pointer;


}




.avatar{


width:130px;


height:130px;


border-radius:50%;


object-fit:cover;


}




.buttons a{


display:block;


margin:10px;


padding:12px;


background:#1677ff;


color:white;


border-radius:10px;


text-decoration:none;


}