*{

box-sizing:border-box;

}


body{


margin:0;


min-height:100vh;


display:flex;


justify-content:center;


align-items:center;


background:#f2f2f2;


font-family:
"Microsoft YaHei",
Arial;


transition:0.3s;


}



.card{


width:380px;


background:white;


padding:30px;


border-radius:25px;


text-align:center;


box-shadow:
0 10px 30px rgba(0,0,0,0.15);


}




.avatar{


width:130px;


height:130px;


border-radius:50%;


object-fit:cover;


border:5px solid white;


}



h1{

margin-bottom:5px;

}



h3{

color:#666;

}



.intro{


line-height:1.8;


color:#555;


}





.buttons a{


display:block;


margin:12px;


padding:13px;


background:#1677ff;


color:white;


text-decoration:none;


border-radius:12px;


transition:.3s;


}



.buttons a:hover{


transform:scale(1.05);


background:#005ccc;


}





.skills span{


display:inline-block;


padding:8px 15px;


margin:5px;


background:#eee;


border-radius:20px;


}





.project{


background:#f7f7f7;


padding:15px;


margin:15px 0;


border-radius:15px;


}




.qrcode{


width:180px;


}




#themeBtn{


position:fixed;


top:20px;


right:20px;


border:none;


padding:12px;


border-radius:50%;


cursor:pointer;


font-size:20px;


}




/* 深色模式 */


.dark{


background:#121212;

}



.dark .card{


background:#222;


color:white;


}



.dark .intro{


color:#ccc;


}



.dark .project{


background:#333;


}


.dark .skills span{


background:#444;


}
